.label {
    display: block;
    margin-bottom: .5rem;
}
.input {
    font-size: 1.4rem;
    background-color: unset;
    border: none;
    border-bottom: 2px solid #1b1811;
    padding: 1rem;
    width: 95%;
}

.form-input-group {
    margin-top: 1.5rem;
    width: 48%;
}

.checkbox-input {
    display: inline;
    width: auto;
}