@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

button {
  background-color: unset;
  border: 2px solid #1B1811;
  padding: .5rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-family: inherit;
}

a {
  text-decoration: none;
}

#root {
  width: 100%;
  height: 100%;
  background-color: #FFEFD6;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.scrollbar::-webkit-scrollbar {
  width: 5px;
}
.scrollbar::-webkit-scrollbar-track {
  background: #FFEFD6;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #1B1811;
}