.data-submit {
    margin-top: 2rem;
}
.checkbox-input-container {
    width: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-input-container input {
    width: auto;
}

.checkbox-input-container label {
    margin-bottom: 0;
}

.drop-down-block {
    display: block;
    margin: 2rem 0;
    width: 48%;
}