.dropdown {
    font-family: inherit;
    background-color: unset;
    padding: 1rem 2rem;
    width: 95%;
    border: 2px solid #181b11;
    font-size: 1.4rem;
    max-height: 5.4rem;
}


.dropdown option {
    padding: 1rem;
}